/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
    .activity {
        width: 0%;
        overflow: hidden;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .activity {
        width: 20vw;
        color: #ffffff;
        padding: 0 15px;
    }

    .activityfriends {
        font-size: 0.8em;
        padding-top: 20px;
        margin: 0;
    }

    .hrActivity {
        background-color: #282828;
        width: 100%;
        height: 1px;
        border: 0;
    }

    .friend {
        margin-bottom: 20px;
    }

    .containerUserIcon {
        height: 100px;
        margin: 15px 5px 0 0;
        float: left;
    }

    .activityUserIcon {
        text-align: center;
        font-size: 1.5em;
        background-color: #282828;
        color: #333333;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        margin-top: 25px;
        padding-top: 6px;
    }

    .song,
    .artist,
    .album,
    .albumIcon {
        color: #b3b3b3;
    }

    .usernameIcon {
        font-size: 0.8em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .albumIcon,
    .album {
        display: inline-block;
    }

    .activityText {
        margin-top: 0;
        font-size: 0.6em;
    }

    .findFriends {
        text-align: center;
        line-height: 30px;
        font-size: 0.5em;
        letter-spacing: 1.5px;
        border-radius: 15px;
        border: 1px solid white;
        margin-top: 50px;
        width: 120px;
        height: 30px;
        cursor: default;
        transition: transform 0.2s;
    }

    .findFriends:hover {
        transform: scale(1.1);
    }

    .underline {
        cursor: pointer;
    }

    .underline:hover {
        text-decoration: underline;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .containerUserIcon {
        margin: 15px 5px 0 0;
    }

    .activityUserIcon {
    font-size: 1.9em;
    width: 45px;
    height: 45px;
    }

    .findFriends {
        font-size: 0.6em;
        letter-spacing: 2px;
        margin-top: 50px;
        width: 100%;
    }
}