/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
    .footerContainer {
        font-family: 'Raleway regular 400', sans-serif;
        display: flex;
        flex-direction: column;
        padding: 0 10px ;
        background-color: #282828;
        height: 88px;
        border-top: 1px solid black;
        position: sticky;
        bottom: 0;
    }

    .songData {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
    }

    .footerTitle {
        display: flex;
    }

    .songName {
        display: inline;
        color: white;
        font-size: 0.8em;
    }

    .likeIcon {
        padding-top: 18px;
    }

    .artistName,
    .likeIcon {
        color: #b3b3b3;
        font-size: 0.8em;
    }

    .songName:hover,
    .artistName:hover {
        text-decoration: underline;
    }

    audio {
        width: 100%;
        margin-bottom: 5px;
        filter: invert(88%);
        outline: none;
    }
}

@media only screen and (min-width: 600px) {
    .footerContainer {
        flex-direction: row;
    }
    
    .songData {
        flex-direction: column;
    }

    .songName {
        font-size: 1em;
        margin-bottom: 0;
    }

    .likeIcon {
        margin-left: 0;
    }

    .artistName {
        margin-top: 0;
    }

    audio {
        margin-top: 20px;
    }
}

/*Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
    .songName {
        width: 150px;
    }
}