/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
    /* Header */
    .header {
        background-color: #121212;
        height: 70px;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .headerIcons {
        color: #4b4b4b;
        margin-left: 10px;
        font-size: 1.7em;
    }

    .next {
        margin-left: 15px;
    }
    
    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #050505;
        color: white;
        border-radius: 30px;
        width: 152px;
        height: 32px;
        padding-right: 12px;
        margin-right: 10px;
    }
    
    .user:hover {
        background-color: #282828;
        transition: 0.3s;
    }
    
    .userMask {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        overflow: hidden;
    }
    
    .userImage {
        width: auto;
        height: 100%
    }
    
    .username {
        font-size: 0.8em;
    }

    /* Main Content */
    .main {
        background-color:#121212;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    
    .shortcuts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        color: white;
        font-size: 1em;
    }
    
    .shortcutsSubtitle {
        color: #B3B3B3;
        font-size: 0.8em;
    }
    
    .shortcutsTitle:hover,
    .shortcutsSubtitle:hover {
        text-decoration: underline;
    }
    
    .shortcutsLists {
        display: flex;
        justify-content: space-between;
        margin: 0 10px 20px 10px;
        overflow: auto;
    }

    .shortcutsLists::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    
    .boxList {
        background-color: #282828;
        color: white;
        border-radius: 10px;
        margin-right: 10px;
        width: 168px;
        height: 235px;
        cursor: pointer;
    }
    
    .listImage {
        margin: 20px 20px 10px 20px;
    }
    
    .listTitle {
        margin: 0 20px;
    }
    
    .ListDesc {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }
    
    .listUsername {
        color: #B3B3B3;
        font-size: 0.6em;
        margin-top: 8px;
    }
    
    .play {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1DB954;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    
    .playIcon {
        font-size: 0.7em;
        margin-left: 2px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* scroll */
    .main::-webkit-scrollbar {
        background-color: #121212;
        width: 15px;
    }
    
    .main::-webkit-scrollbar-thumb {
        background-color: #282828;
    }
    
    .main::-webkit-scrollbar-thumb:hover {
        background-color: #898989;
    }

    /* Main Content */
    .shortcutsLists {
        margin: 0 0 20px 10px;
    }

    .boxList {
        width: 160px;
    }

    .listImage {
        margin: 20px 20px 10px 17px;
    }
}    

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .headerIcons {
        margin-left: 32px;
    }

    .user {
        margin-right: 32px;
    }

    /* Main Content */
    .shortcuts {
        padding: 0 32px;
    }

    .shortcutsLists {
        margin: 0 32px 20px 32px;
    }

    .boxList {
        margin-right: 0;
        width: 168px;
    }
}