/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {

    .sidebarContainer {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 64px;
    }    

    .sidebar {
        background-color: #040404;
        width: 100%;
        height: 100%;
    }

    /* Logo */
    .spotiLogo{
        color: white;
        cursor: pointer;
    }

    .spotiIcon {
        display: flex;
        justify-content: center;
        font-size: 2.5em;
        margin-top: 10px;
    }

    /* Nav */
    .item {
        display: flex;
        justify-content: center;
        margin: 8px 0;
        padding: 8px 0;
        height: 40px;
        color: #b3b3b3;
        cursor: pointer;
    }

    .itemIcon {
        font-size: 1.5em;
    }

    .itemActive {
        border-radius: 4px;
        margin:0 1.5px;
        background-color: #282828;
        color: white;
    }

    [class^=hrSidebar] {
        background-color: #282828;
        height: 1px;
        width: 84%;
        border: 0;
    }

    .hrSidebar2 {
        margin-top: 16px;
    }

    .plus {
        background-color: #b3b3b3;
        color: black;
    }
    
    .heart {
        background: linear-gradient(
            120deg, 
            rgba(122,55,231,1) 0%, 
            rgba(78,68,250,1) 48%, 
            rgba(255,255,255,1) 100%
        );
    }

    .itemHover:hover,
    .plus:hover,
    .heart:hover {
        color: white;
        transition: 0.3s;
    }

    .box {
        width: 32px;
        height: 32px;
        font-size: 1em;
        text-align: center;
        padding-top: 8px;
    }

    .lists {
        padding: 0 2px;
        font-family: 'Raleway medium 500', sans-serif;
        font-weight: bold;
        font-size: 0.7em;
        color: #b3b3b3;
        cursor: default;
    }
    
    /* Hidden Elements */
    
    .footerSidebar,
    .downIcon,
    .itemText,
    .playlists,
    .logoText {
        font-size: 0;
    }

    .footerSidebar {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .sidebarContainer {
        width: 20%;
    }

    .sidebar {
        height: calc(100vh - 88px - 40px); /* Sidebar - Footer - Download App*/
    }

    /* Logo */
    .spotiLogo{
        display: flex;
        align-items: center;
        margin: 24px 0 24px 12px;
        color: white;
        cursor: pointer;
    }

    .spotiIcon {
        margin-right: 4px;
        font-size: 2em;
        margin-top: 0;
    }

    .logoText {
        font-size: 1.5em;
    }

    /* Nav */
    .item {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 0 8px;
        height: 40px;
    }

    .itemIcon {
        margin: 0 16px;
        font-size: 1.5em;
    }
    
    .itemText,
    .footerSidebar,
    .playlists {
        font-size: 0.9em;
        width: 60px;
    }

    .playlists {
        margin-left: 24px;
        color: #b3b3b3;
        cursor: default;
    }

    .box {
        font-size: 1em;
        width: 28px;
    }

    .hrSidebar1 {
        width: 0;
        height: 0;
        margin: 0; 
    }

    .lists {
        margin: 0 16px;
        font-size: 0.8em;
    }

    /* Footer */    
    .footerSidebar {
        background-color: #000000;
        width: 100%;
        height: 40px;
        color: #b3b3b3;
        margin: 0;
        justify-content: center;
    }

    .downIcon {
        font-size: 20px;
        margin-right: 5px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .spotiLogo{
        display: flex;
        align-items: center;
        margin: 24px 0 24px 24px;
        color: white;
        cursor: pointer;
    }

    .spotiIcon {
        margin-right: 6px;
    }

    .itemText {
        width: auto;
    }

    .box {
        width: 32px;
    }
}