/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
   
    /* General Content */
    .container {
        background-color: black;
        display: flex;
        height: calc(100vh - 88px); /*height - footer*/
    }

    body {
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }

    * {
        box-sizing: border-box;
        -webkit-user-select: none;
    }
}